.region-navigation {
  margin-top: 20px;

  @media(min-width:$screen-sm-min) {
    margin-top: 0;
  }

  #block-googlesearchbar {
    width: 222px;
    margin: 37px 15px;

    @media(min-width:$screen-sm-min) {
      float: right;
      margin: 35px 15px 20px;
    }

    table {
      &.gsc-search-box {
        td.gsc-input {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          padding-right: 0;
        }
      }

      tbody tr td:nth-child(1) {
        background-color: #FFF;
      }
    }

    button.gsc-search-button.gsc-search-button-v2 {
      background-color: #FFF;
      padding: 10px;
      border: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      margin-left: -1px;
      background: url(../images/icons/search.png);
      background-size: cover;
      height: 10px;
      width: 10px;

      svg {
        display: none;

        path {
          fill: #000;
        }
      }
    }

    .gsc-input-box {
      border-color: #FFF;
      border-radius: 4px;
      padding: 0;
    }
  }
}

// remove inline style that adds "powered by google" to searchbar
input.gsc-input {
  background: none !important;
  border-bottom: 2px solid #0A3E77 !important;
}
