
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

//Roboto
@mixin robotoRegular(){
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-style: normal;
}
@mixin robotoBold(){
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  font-style: normal;
}
@mixin fontawesome-icon {
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'coluna';
  src: url('../fonts/coluna/ColunaRounded-CondensedBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'eames';
  src: url('../fonts/eames/EamesCenturyModern-BlackItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'calibri';
  src: url('../fonts/calibri/Calibri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
//rem font sizing
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}