{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field--items', 'row', 'para-row', 'para2-row') }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field--item col-sm-12 col-md-6 para2') }}>
          {#{ dd(item.content['#paragraph']) }#}
            <!--body text render-->
            {% set body = {
                '#type': 'processed_text',
                '#text': item.content['#paragraph'].field_body.value,
                '#format': item.content['#paragraph'].field_body.format,
              } %}
            <!--video field render-->

            {% if item.content['#paragraph'].field_image_lp.value %}
                <div class="col-xs-6 col-sm-5 col-md-6 para2-image">
                  <img src="{{ item.content['#paragraph'].field_image_lp.entity.uri.value | image_style('400x400') }}" >
                </div>
                <div class="col-md-6 para2-content">
                  <h2>{{ item.content['#paragraph'].field_title.value }}</h2>
                  {{ body }}
                  {#{item.content}#}
                  {% set link = item.content['#paragraph'].field_link %}
                  {% for links in link %}
                    {% if links.external %}
                      <a href="{{ links.uri }}" class="btn btn-primary btn-sm" aria-label="{{ links.title }}">{{ links.title }}</a>
                    {% else %}
                      <a href="{{ path(links.url.routeName, links.url.routeParameters) }}" class="btn btn-primary btn-sm" aria-label="{{ links.title }}">{{ links.title }}</a>
                    {% endif %}
                  {% endfor %}
                  {#<a href="{{ item.content['#paragraph'].field_link.uri }}" class="btn btn-primary btn-sm" aria-label="{{ item.content['#paragraph'].field_link.title }}">{{ item.content['#paragraph'].field_link.title }}</a>#}
                </div>
            {% else %}
              <div class="col-md-10 para2-content">
                <h2>{{ item.content['#paragraph'].field_title.value }}</h2>
                {{ body }}
                {% set link = item.content['#paragraph'].field_link %}
                {% for links in link %}
                  {% if links.external %}
                    <a href="{{ links.uri }}" class="btn btn-primary btn-sm" aria-label="{{ links.title }}">{{ links.title }}</a>
                  {% else %}
                    <a href="{{ path(links.url.routeName, links.url.routeParameters) }}" class="btn btn-primary btn-sm" aria-label="{{ links.title }}">{{ links.title }}</a>
                  {% endif %}
                {% endfor %}
                {#<a href="{{ item.content['#paragraph'].field_link.uri }}" class="btn btn-primary btn-sm" aria-label="{{ item.content['#paragraph'].field_link.title }}">{{ item.content['#paragraph'].field_link.title }}</a>#}
              </div>
            {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field--item') }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field--item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
