.clear-footer{

  @media(min-width:$screen-md-min){
    //padding-bottom: 284px;
  }
}
.footer.container-fluid{
  //@extend .row;
  display:block;
  background-color:#286eac;
  /*position: absolute;
  bottom: 0px;*/
  width: 100%;
  //margin-top:0;
  padding-top:0;
  padding-bottom:0;
  overflow:hidden;

  @media(min-width:$screen-md-min){
    /*position: absolute;
    bottom: 0px;*/
  }

  a{
    &:hover{
      background:none;
    }
  }
  .region-footer{
    @extend .container;
    padding:0;

    nav{
      text-align: center;

      &:last-of-type{
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        padding: 40px 20px 30px;
        text-align: center;
        background-color: #0A3E77;
      }

      h2{
        color:#FFF;
        font-weight:700;
        font-size: 32;
        line-height: 38px;
        margin-top: 44px;
        margin-bottom: 0;
      }

      li{
        display:inline-block;
        a{
          color:#FFF;
        }
      }
    }

    .social-menu {
      li:hover {
        background-color: #DC924E !important;

        a:before {
          color: #FFF;
        }
      }
    }

    .quick-links{
      @include fullWidth();
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 30px;

      @media(max-width:550px) {
        flex-wrap: nowrap;
        justify-content: normal;
        align-items: center;
        flex-direction: column;
      }

      @media(min-width:$screen-sm-min) {
        padding-bottom: 0;
      }

      li{
        //@extend .col-xs-6;
        //@extend .col-sm-4;
        //@extend .col-md-4;
        //@extend .col-lg-2;
        display:table;
        min-height: 105px;
        height:1px;
        padding: 0 10px;
        margin-top: 30px;
        width: 50%;


        @media(min-width:$screen-sm-min) {
          margin-top: 35px;
          margin-bottom: 57px;
          width: auto;

          ~ li {
            margin-left: 53px;
          }
        }

        a{
          background-position: 50% 0;
          background-repeat: no-repeat;
          background-size: auto 50px;
          color: #FFF;
          display: table-cell;
          //flex-direction: column-reverse; //flex no work in IE11
          text-align: center;
          padding:10px 0;
          vertical-align: bottom;
          font-size: 20px;
          line-height: 23px;
          font-weight: bold;
          white-space: nowrap;

          @media(min-width:$screen-sm-min) {
            background-size: auto 74px;
            height: 122px;
          }

          &.cta-buses{
            background-image:url(../images/icons/eltrain.png);

            &:hover {
              background-image:url(../images/icons/eltraino.png);
            }
          }

          &.metra-train{
            background-image:url(../images/icons/rail.png);

            &:hover {
              background-image:url(../images/icons/railo.png);
            }
          }

          &.pace-bus{
            background-image:url(../images/icons/bus.png);
            
            &:hover {
              background-image:url(../images/icons/buso.png);
            }
          }

          &.pay-ride{
            background-image:url(../images/icons/mobile.png);
            
            &:hover {
              background-image:url(../images/icons/mobileo.png);
            }
          }

          &.access{
            background-image:url(../images/icons/handicap.png);
            
            &:hover {
              background-image:url(../images/icons/handicapo.png);
            }
          }

          &:hover,
          &:focus{
            background-color: transparent;
            border: none;
            color: #DC924E;
            outline: none;
          }
        }
      }
    }

    #block-transitlines{
      display:flex;
      @include fullWidth();
      background-color: #FFF;
      padding:20px;
      text-align: center;

      .transit-lines{
        @extend .container;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width:$screen-sm-max) {
          padding: 0;
          width: 100%;
        }

        li{
          display:inline-block;
          padding:3px 9px 13px;

          @media(min-width:$screen-sm-min) {
            padding-left: 39px;
            padding-right: 39px;
          }
        }
        a{
          display:block;
          position: relative;

          @media(min-width:$screen-sm-min) {
            min-height:56px;
          }

          &::before{
            content: '';
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            left: 0;
          }
          &.cta-line{
            height: 36px;
            width: 36px;

            @media(min-width:$screen-sm-min) {
              height: 72px;
              width: 72px;
            }

            &::before{
              background-image:url(../images/logos/ctalogo.png);
            }
          }
          &.metra{
            height: 23px;
            width: 84px;

            @media(min-width:$screen-sm-min) {
              height: 46px;
              width: 168px;
            }

            &::before{
              background-image:url(../images/logos/metralogo.png);
            }
          }
          &.pace{
            height: 29px;
            width: 84px;

            @media(min-width:$screen-sm-min) {
              height: 58px;
              width: 167px;
            }

            &::before{
              background-image:url(../images/logos/pacelogo.svg);
            }
          }
        }
      }

    }
    .policy{
      @extend .container;
      display: block;
      padding:16px 0 30px;
      li{
        border-right:1px solid #FFF;

        a{
          padding: 0 15px;
          font-size: 16px;
          line-height: 21px;

          &:hover {
            text-decoration: underline;
          }
        }

        &:last-child{
          border-right:none;
        }
      }
    }
  }
  .copyright{
    @extend .container;
    display: block;
    color:#FFF;
    font-size: 16px;
    line-height: 21px;
    font-weight:700;
  }
}
