@import 'social-nav';

.navbar{
  //@extend .row;
  display:block;
  background-color: #FFF;
  position: -webkit-sticky;
  position: sticky;
  top: -120px;
  z-index:9;
  margin-bottom:0;
  overflow: hidden;
  border: 0;
  border-radius: 0;

  @media(min-width:$screen-md-min){
    top:-116px;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      position:relative;
      top:0;
      /* IE10+ CSS, sticky position doesnt work */
  }

  .navbar-header{
    width:100%;
    margin-left:0;
    margin-right:0;
  }
  #block-searchform{
    @include make-md-column(4);
    @include make-lg-column(4); 
    float:left;

    @media(min-width:$screen-md-min){
      float: right !important;
      margin-top: 40px;
    }

    input{
      /*background: transparent;
      border: none;
      border-bottom: 1px solid #FFF;
      border-radius: 0;
      color: white;*/
      border-top-left-radius: 11px;
      border-bottom-left-radius: 11px;
    }
    .btn-primary{
      background: #FFF;
      padding-bottom: 7px;
      border-color: transparent;
      border-top-right-radius: 11px;
      border-bottom-right-radius: 11px;

      .glyphicon-search::before{
        color: #000;
      }
      &:hover,
      &:focus{
        background: #EEE;
        border:none;

      }
    }
  }
  .container.main-nav{
    padding-top:10px;
    padding-bottom:7px;
    //padding: 10px 0 7px;
    //width: 100% !important;

    .hamburger{
      float:right;
      padding:1px 10px;
      border:1px solid #fff;
      border-radius: 5px;

      .hamburger-box{
        width:22px;
        height:22px;

        .hamburger-inner{
          width:22px;
          height:2px;
          background-color: #FFF;

          &::before,
          &::after{
            width:22px;
            height:2px;
            background-color: #FFF;
          }
          &::before{
            top:-6px;
          }
          &::after{
            top:-12px;
          }
        }
      }
      &.is-active{
        .hamburger-inner{
          transform: translate3d(0, -4px, 0) rotate(-45deg);

          &:before{
            top:-2px !important;
          }
        }
      }
    }
    @media(max-width:$screen-lg-min){
      width:90%;

      .search-wrapper{
        width:100%;
      }
    }
  }
  #block-rta-main-menu,
  .primary-nav {
    @include fullWidth();
    //@extend .row;
    background-color: #003E77;
    clear:both;
    display:flex;
    height:100%;
    max-height:50px;
    overflow: hidden;

    @media(min-width:$screen-md-min){
      max-height:none;
      overflow: visible;
      //margin-right: calc(51% - 50.1vw);
    }
    @media(max-width:$screen-md-min){
      transition: all 0.5s ease;
    }

    ul.menu,
    .view-content{
      @extend .container;
      padding: 0 30px 0 0;
      display: flex;
      justify-content: space-between;

      @media(max-width: $screen-sm-max) {
        flex-direction: column;
        padding: 0;
      }

      @media(min-width:$screen-md-min) and (max-width:$screen-md-max) {
        padding-left: 25px;
        padding-right: 0;
      }

      &:before,
      &:after {
        display: none;
      }
    }
    .main-nav-wrapper{
      @include make-lg-column(8);
      padding-left:0;
      padding-right:0;
      clear:right;

      li{
        display:block;

        @media(min-width:$screen-md-min){
          display:inline-block;
        }
        a{
          color:#FFF;
          font-weight:700;
          font-size: 18px;
          line-height: 20px;

          &:hover{
            color: #C1DDFF;
            text-decoration: underline;
          }
          &:hover,
          &:active,
          &:focus{
            background:none;
          }
        }
        &.active{
          a{
            color:#C1DDFF;

            &.never-active{
              color:#FFF;

              &:hover{
                color:#C1DDFF;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .search-wrapper{
      //@include make-sm-column(12);
      @include make-md-column(4);
      @include make-lg-column(4);
      float:right !important;
      padding-right:0;

      #block-searchform{
        //padding:15px 0 0 0;
      }
    }
    &.active{
      max-height:330px;
    }
  }
}
#block-desktop-covid19,
#block-desktop-covid19-2{
  display:none;
  @media(min-width:$screen-sm-min){
    float:right;
    display:inline-block;
    padding:20px;
  }
  @media(min-width:$screen-md-max){
    //top:-116px;
    float:none;
    padding:20px;
  }
}
.mobile-covid19{
  margin-top:-5px;
  img{
    max-height: 40px;
  }
  @media(min-width:$screen-sm-min){
    display:none;
  }
}
.text-banner{
  color:#FFF;
  padding:0;
  @media(min-width:$screen-sm-min){
    padding:0 20px;
  }
  @media(min-width:$screen-md-max){
    padding:0 40px;
  }
}
.text-banner-parent{
  background:#286eac;
  padding:20px 40px;
}

.nav > li > a {
  padding: 10px 20px;
}

@media (min-width:992px) and (max-width:1200px){
  .search-wrapper{
    width:25% !important;
    margin:10px 0;
  }
  .nav > li > a{
    //padding:10px 8px;
  }
  .navbar .container.main-nav{
    width:100%;
    padding-left:0;
  }
}
