.child-tax-menu,
.tax-menu{
  h3{
    color: #db7809;
    margin-top: 0;
    font-weight:700;
  }
  .view-content{
    background-color: #333;
    padding: 10px 16px;
    margin-bottom:16px;
  }
  .views-row{
    h3{display:none;}
    color: #db7809;
    padding: 5px 15px;
    line-height:1.2;

    a{
      color:#FFF;
    }
  }
  &.attachment{

  }
}ul.sidebar{
  padding-top:20px;
  list-style: none;
  @media(min-width:$screen-md-min){
    padding-top:0;
  }

  & > li.item{
    background-color: #f9f9f9; //#286eac;
    padding: 10px 16px;
    margin-bottom:16px;
    &> a{
      font-weight:700;
      padding:0;
      color: #286eac; //#fff;
      @include font-size(2.2);

      &:hover,
      &:focus{
        background:none;
        text-decoration: underline;
      }
    }
    ul{
      padding:0 20px;
      li{
        margin-bottom: 13px;
        line-height: 1.2;
        a{
          color:#FFF;
        }
      }
    }
    &.active-trail{
      background-color:#f9f9f9;

      &> a{
        color:#286eac;
      }
      ul{
        li{
          a{
            color:#000;
          }
        }
      }
    }
  }
}