.social_menu,
[id^='block-socialmenu-2']{
  @extend .container;
  padding: 0;
  display:block;

  .follow-us{
    @include make-md-column(4);
    @include font-size(2.4);
    padding:10px 0;
    color:#FFF;
    font-family: 'calibri';
    letter-spacing: 1px;

    @media(min-width:$screen-lg-min){
      text-align: right;
    }
  }
  .whiteLink{
    @include make-md-column(3);
    @include font-size(2);
    padding:15px 0;
    color:#FFF;
    font-family: 'calibri';
    letter-spacing: 1px;
    line-height:30px;
    a{
    color:#FFF;
    text-decoration: none;
    }
    a:hover {
     color:#bababa;
    }
    @media(min-width:$screen-lg-min){
      text-align: center;
      width: 37rem;
    }
  }
  ul.social-menu{
    display: block;
    padding:5px 0;
    margin-bottom: 20px;

    li{
      display: inline-block;
      background-color:#fff !important;
      border-radius:50%;
      height: 45px;
      width: 45px;

      &.item{
        padding: 0 6px;
        margin:10px 8px;

        a:hover,
        a:focus{
          text-decoration: none;
        }
      }
      a{
        //max-width:19px;
        //max-height:31px;
        overflow: hidden;
        color:#FFF !important;
        //@include font-size(1.8);
        font-size:28px !important;

        &:hover,
        &:focus{
          text-decoration: none;
        }

        &:before{
          @include fontawesome-icon;
          color:#286eac;
          font-weight:400;
          margin-left:15%;
          margin-right:50%;
        }
        &.facebook{
          @extend .fa-facebook;

          &:before{
            margin-left:25%;
          }
        }
        &.twitter{
          @extend .fa-twitter;
        }
        &.linkedin{
          @extend .fa-linkedin;
        }
        &.youtube{
          @extend .fa-youtube;
        }
        &.instagram{
          @extend .fa-instagram;
        }
      }
    }
  }
  @media(max-width:$screen-sm-min){
    //display:none;
  }
}
.navbar-social{
  @extend .social_menu;
  //@extend .visible-xs;
  //@extend .visible-sm;
  //@extend .visible-md;

  float:none !important;
  padding:0;
  max-width:70%;
  display:inline-block;
  margin-top: -15px;

  ul.menu{
    width:100% !important;
    float:none;
    @include make-sm-column(4);
    @include make-md-column(4);
  }
  @media(min-width:$screen-md-min){
    display:none;
  }
}