#mdv_locs {
  position: absolute;
  z-index: 2000;
  background-color: #fff;
  max-height: 40em;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #d9d9d9;
  border-top: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.875em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0 7px 10px -5px black;
}
#mdv_locs li {
  min-height: 42px;
  line-height: 150%;
  color: #575757;
  text-align: left;
  border-top: 1px solid #d9d9d9;
  padding: .25em .5em .25em 15px;
  position: relative;
}
#mdv_locs li:hover {
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
}
#mdv_locs li.mdv_highlight {
  color: #333;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-repeat: repeat-x;
}