{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
{% set icon = content.field_card_icon.0|render|trim %}
{% set image = '' %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {# content.field_card_image #}
      <div class="field--name-field-card-image" style="background-image: url('{{ file_url(content.field_card_image['#items'].entity.uri.value) }}');"></div>
      <div class="card-wrapper">
        <div class="card-middle">
          <div class="left">
            {% if icon == 'coin' %}
              {% set image = '/themes/custom/RTA/images/icons/coin.png' %}
            {% elseif icon == 'mail' %}
              {% set image = '/themes/custom/RTA/images/icons/mail.png' %}
            {% elseif icon == 'text' %}
              {% set image = '/themes/custom/RTA/images/icons/text.png' %}
            {% else %}
            {% endif %}
            {% if image %}
              <img class="card-icon" src={{ image }}>
            {% endif %}
          </div>
          <div class="right">
            {{ content.field_card_title }}
            {{ content.field_card_body }}
          </div>
        </div>
        <div class="field field--name-field-card-button field--type-link field--label-hidden field--item">
          <a href="{{ content.field_card_button.0['#url'] }}" title="Title" target="{{ content.field_card_button.0['#url'].external ? '_blank' : '_self' }}">{{ content.field_card_button.0['#title'] }}</a>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
