//For Follow Block

.follow{
    background: #0065bd;
    color: white;
    font: 'Comic Sans MS';
    width: auto;
    border: 0;
    padding: .5rem;
    margin: 1rem 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;

}

.follow:hover{
    background-color:black;
}

.follow-form{
   max-width: 200px;
   padding: 8px;
   border: 2px solid #b7b7b7;
   border-radius: 5px;
   margin: 1rem 0;
   line-height: 15px;
   margin-left: 1.5rem;
}
