//fixes rem chrome bug
html{font-size: 62.5%;}
body{@include font-size(1.6);margin:0;}

body, html{
  height: 100%;
  min-height:100%;
  margin-top:0;
  @include robotoRegular;
  line-height:1.67;
  font-weight:300;

  @media(min-width:$screen-sm-min){
    //overflow-x:hidden; //lost sticky header with this
  }
}

h1,h2,h3,h4,h5{
  font-weight: 700;
  line-height: 1.1;
  color: #286eac;
}
h2{
  @include font-size(2.4);
}
span.imgLeft{float:left;}
span.imgRight{float:right;}

.main-container{
  margin-top:20px;

  @media(min-width:$screen-md-min){
    //padding-bottom:240px;
    min-height:50%;
  }
}
.ui-widget.ui-widget-content{
  border:none;
}
.path-frontpage{ //front page
  .page-header{
    display:none;
  }
  .main-container{
    margin-top:0px;
  }
}
h1.page-header{
  @include robotoBold;
  color:#286eac;
  @include font-size(3.0);
  border:none;
}
.file{
  span{
    border:none !important;
  }
}
.btn-warning{
  background-color:#db7809;
  border-color:#c36b08;
}

@mixin fullWidth{
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.region-content a[href$='.pdf']:not(.noIcon),
a[href$='.PDF']:not(.noIcon), a.pdf {
  background-repeat: no-repeat;
}

//images using upload field float left
.pull-right{
  img{
    float:right;
  }
}
.btn-primary{
  background-image:none !important;
}
table{
  thead{
    background-color:#286eac;
    color:#FFF;
  }
  tbody{
    @media(max-width:$screen-sm-min - 1){
      tr{
        td{
          text-align: left !important;

          &:nth-child(1){
            font-weight:700;
            background-color:#286eac;
            color:#FFF;

            a{
              color:#FFF;
            }
            span{
              text-align: left;

              a{
                color:#FFF;
              }
            }
            b{
              display:none !important;
            }
          }
          span{
            width:100%;
            max-width:80%;
            text-align: right;
          }
        }
      }
    }
  }
}
.dialog-off-canvas-main-canvas{
  height:100%;
}