.leadership{
  .row{
    margin:0;
    .col{
      padding:0;
      a{
        display:block;
        color: #fff;
        background-color: #db7809;
        border-color: #c36b08;
        margin: 10px 0;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        @include font-size(1.6);
        line-height: 1.67;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
    img{
      width:100%;
    }
  }
}

//leadership detail pages - People
.people{
  &.content{

  }
  &.copy{

  }
  &.image{
    @extend .col-sm-6;
    @extend .col-xs-12;
    float:right;

    img{
      width:100%;
    }
  }
}