$txtColorBlue: #14598A;
$accordionColorGrey: #F7F7F7;

.meeting-block{
    &.board{
        @media(min-width:$screen-sm-max){
            padding-top: 20px;
        }

        h2.upcoming-title{
            @include font-size(3.0);

            &:before{
                display: inline-block;
                content: '';
                height: 55px;
                width: 55px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(../images/icons/upcoming_staticState.png);
                vertical-align: bottom;
                margin: 0 20px 0 0;
            }
        }
        .views-row{
            border-bottom: 1px solid #000;

            .container-mp{
                @extend .container;
                padding: 20px 0;
                width: auto;

                .left-mp{
                    @extend .col-xs-12;
                    @extend .col-sm-6;
                    @extend .col-md-6;

                    h3{
                        color: #000;
                    }
                    .header-mp{
                        font-weight: 500;
                        margin-top: 0;
                    }
                }
                .right-mp{
                    @extend .col-xs-12;
                    @extend .col-sm-6;
                    @extend .col-md-6;

                    .addtocal-container{
                        margin: 0;

                        @media(max-width:$screen-sm-min){
                            display:inline-block;
                            float:none;
                        }
                    }
                    .addtocal{
                        background: none;
                        border: none;
                        font-weight: 500;
                        color: $txtColorBlue;

                        &:before{
                            position: relative;
                            display: block;
                            content: '';
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-image: url(../images/icons/addtocal_normalState.png);
                            height: 45px;
                            width: 45px;
                            margin: 0 auto;
                        }

                        &:hover{
                            &:before{
                                background-image: url(../images/icons/addtocal_hoverState.png);
                            }
                        }
                    }
                    .agenda-mp-container{
                        float: right;
                        padding:4px 20px;

                        .agenda-mp{
                            display: block;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-image: url(../images/icons/agenda_normalState.png);
                            height: 45px;
                            width: 45px;

                            &:hover{
                                background-image: url(../images/icons/agenda_hoverState.png);
                            }
                        }
                        span{
                            display: block;
                            color: $txtColorBlue;
                            font-weight: 500;
                            text-align: center;

                            &:hover{
                                text-decoration: none;
                            }
                        }

                        @media(max-width:$screen-sm-min){
                            display:inline-block;
                            float:none;
                        }
                    }

                    .video-mp-container {
                        float: right;
                        padding:4px 20px;

                        .video-mp {
                            display: block;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-image: url(../images/icons/watch_normalState.png);
                            height: 45px;
                            width: 45px;

                            &:hover {
                                background-image: url(../images/icons/watch_hoverState.png);
                            }
                        }
                        span {
                            display: block;
                            color: $txtColorBlue;
                            font-weight: 500;
                            text-align: center;

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        @media(max-width:$screen-sm-min) {
                            display:inline-block;
                            float:none;
                        }
                    }

                }

            }

            &:last-child {
                border: none;
            }
        }
        .addtocal-links{
            .addtocal-link {
                display: none;
            }
            [data-addtocal-type="ics"] {
                display: block; 
            }
        }
    }
    &.archive {
        h2.upcoming-title{
            @include font-size(3.0);
        }
        .legend-mp{
            padding: 10px 0;

            span{
                padding: 0 15px;

                &:first-child{
                    padding-left: 0;
                }
            }
            .agenda-mp-container{
                display: inline-block;

                .agenda-mp {
                    display: block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url(../images/icons/agenda_normalState.png);
                    height: 45px;
                    width: 45px;
                    margin: 0 auto;
                }
            }

            .watch-mp-container{
                display: inline-block;

                .watch-mp {
                    display: block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url(../images/icons/watch_normalState.png);
                    height: 45px;
                    width: 45px;
                    margin: 0 auto;
                }
            }

            .min-mp-container{
                display: inline-block;

                .min-mp {
                    display: block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url(../images/icons/min_normalState.png);
                    height: 45px;
                    width: 45px;
                    margin: 0 auto;
                }
            }

            .slides-mp-container {
                display: inline-block;

                .slides-mp{
                    display: block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url(../images/icons/slide_normalState.png);
                    height: 45px;
                    width: 45px;
                    margin: 0 auto;
                }
            }
        }
        .views-row{
            padding-bottom: 10px;

            h2.upcoming-title {
                @include font-size(3.0);
            }

            h3.ui-accordion-header {
                border: none;
                background-color: $accordionColorGrey;
                border-radius: 0;
                color: #000;
                @include font-size(2.4);
                font-weight: 600;
                padding-top: 25px;
                padding-bottom: 25px;

                .ui-accordion-header-icon{
                    display: none;
                }
                &::after{
                    content: '^';
                    float: right;
                    font-weight: 500;
                    transform: rotate(180deg);
                }

                &.ui-state-active{
                    &::after {
                        transform: rotate(0deg);
                    }
                }
            }

            .ui-accordion-content {
                border: none;
                padding: 25px 0;
            }

            .views-row {
                @extend .col-sm-4;

                @media(min-width:$screen-sm-min){
                    min-height:170px;
                }

                .right-mp {
                    padding: 10px 0;

                    a{
                        padding: 0 10px;
                    }

                    .addtocal-container {
                        margin: 0;

                        @media(max-width:$screen-sm-min) {
                            display:inline-block;
                            float:none;
                        }
                    }
                    .addtocal {
                        background: none;
                        border: none;
                        font-weight: 500;
                        color: $txtColorBlue;

                        &:before {
                            position: relative;
                            display: block;
                            content: '';
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-image: url(../images/icons/addtocal_normalState.png);
                            height: 45px;
                            width: 45px;
                            margin: 0 auto;
                        }

                        &:hover{
                            &:before{
                                background-image: url(../images/icons/addtocal_hoverState.png);
                            }
                        }
                    }
                    .agenda-mp-container{
                        //float: right;
                        display: inline-block;
                        //padding:4px 20px;

                        .agenda-mp{
                            display: block;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-image: url(../images/icons/agenda_normalState.png);
                            height: 45px;
                            width: 45px;

                            &:hover{
                                background-image: url(../images/icons/agenda_hoverState.png);
                            }
                        }
                        span{
                            display: none;
                        }

                        @media(max-width:$screen-sm-min){
                            display:inline-block;
                            float:none;
                        }
                    }

                    .video-mp-container {
                        //float: right;
                        display: inline-block;
                        //padding:4px 20px;

                        .video-mp {
                            display: inline-block;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-image: url(../images/icons/watch_normalState.png);
                            height: 45px;
                            width: 45px;

                            &:hover {
                                background-image: url(../images/icons/watch_hoverState.png);
                            }
                        }
                        span {
                            display: none;
                        }

                        @media(max-width:$screen-sm-min) {
                            display:inline-block;
                            float:none;
                        }
                    }

                    .slide-mp-container {
                        //float: right;
                        display: inline-block;
                        //padding:4px 20px;

                        .slide-mp {
                            display: block;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-image: url(../images/icons/slide_normalState.png);
                            height: 45px;
                            width: 45px;

                            &:hover {
                                background-image: url(../images/icons/slide_hoverState.png);
                            }
                        }
                        span {
                            display: none;
                        }

                        @media(max-width:$screen-sm-min) {
                            display:inline-block;
                            float:none;
                        }
                    }

                    .min-mp-container {
                        //float: right;
                        display: inline-block;
                        //padding:4px 20px;

                        .min-mp {
                            display: block;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-image: url(../images/icons/min_normalState.png);
                            height: 45px;
                            width: 45px;

                            &:hover {
                                background-image: url(../images/icons/min_hoverState.png);
                            }
                        }
                        span {
                            display: none;
                        }

                        @media(max-width:$screen-sm-min) {
                            display:inline-block;
                            float:none;
                        }
                    }

                }
            }
        }
    }
}