//webforms
.webform-content{
  .webform{
    background-color: #efefef;
    border: 1px solid #ddd;
    padding: 16px 16px 0 16px;
    margin-bottom: 16px;

    .form-group{
      display:table;

      input,
      label{
        display:table-cell;
        min-width:125px;
        max-width:225px;
      }
      .select-wrapper{
        display:inline-block;
      }
    }
    .btn-primary{
      margin:10px 0;
    }
  }
}

//caption
figcaption{
  @include font-size(1.4);
  line-height: 1.2;
  padding-bottom:10px;
}
section.col-sm-12.no-side{
  figure{
    @media(min-width:$screen-md-min){
      max-width:34%;
    }
  }
}

// instagram
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container,
#instaSlide {
  //max-width: 1000px;
  position: relative;
  margin: auto;

  img{
//    width:100%;
    overflow: hidden;
    margin-top: -2.5rem;
  
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;

  img{
  //  max-width:250px;
    height: 170px;
  }
  .text{
    @include font-size(1.2);
    color: #7a7a7a;
    padding: 15px 8px 10px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: left;
  }
}

/* Next & previous buttons */
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color:#777;
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*.active, .dot:hover {
  background-color: #717171;
}*/


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.fade{
  opacity: 1;
}
