.press-list{
  .views-row{
    padding-bottom:16px;
    a{
      @include robotoBold;
      @include font-size(1.8);
    }
  }
  .pub-date{
    margin: 13px 0;
  }
}
//recent press release
.recentPress{
  &.content{
    padding-top:10px;
  }
  &.row{
    padding-bottom:16px;
  }
  .press-title{
    @extend .col-xs-8;
    @extend .col-sm-9;
    @extend .col-lg-10;
    font-weight:700;
  }
  .press-date{
    @extend .col-xs-4;
    @extend .col-sm-3;
    @extend .col-lg-2;
  }
}