.columns-2{
  background-color:#EEE;
  //display:flex;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  .column-2-content{
    display:inline-block;
  }
}
.columns-3{
  &.para-color{
    h2{
      color:#000;
    }
    a.btn{
      background-color:#777;
      border-color:#777;
    }
    a.btn:hover{
      background-color: #000;
    }

    //Adding borders for 2nd Column only
    .para3{
      &:nth-child(2),
      &.para-middle{
        border-left: solid #777 0.1rem;
        border-right: solid #777 0.1rem;
      }
    }
  }
}
.banner-media{
  display: flex;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  position:relative;
  overflow: hidden;
  background: #555 no-repeat 0 50%;
  background-size: cover;

  .banner-content{
    @extend .col-sm-4;
    @extend .col-md-6;
    @extend .hidden-xs;
  }
  .video-bg{
    video{
      width: auto;
      height: auto;
      max-width: none;
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0%, -50%);
    }
  }
}
.image-column{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:250px;
  @media(min-width:$screen-md-min){
    min-height:400px;

    &:nth-child(1){
      background-position-x: -10px;
    }
  }
}
.para-row{
  padding:20px 0;
  margin:0 auto;

  .para2{
    margin-top:10px;
    padding:0;

    .para2-image{
      @media(min-width:$screen-md-min){
        //padding-bottom:240px;
        padding:0;
      }

      img{
        width:100%;
      }
    }
    .para2-content{
      padding:0 5px 0 10px;

      h2{
        margin-top:0;
        @include font-size(1.8);
      }
    }
  }
  .para3{
    h2{
      @include font-size(1.8);
    }
    .btn{
      font-weight:700;
      margin:5px 0;
    }
  }
}
.para2-row{
  padding:20px 15px;
}
//custom text on banner styling here
.featured_advertisement {
  padding: 16px;
  height: 457px;
  display: table-cell;
  vertical-align: middle;
}
.featured_advertisement p {
  color: #fff !important;
    text-shadow: 2px 2px 10px #000000;
}
.sans_serif, .serif {
  color: #fff !important;
  text-align: center;
}
.sans_serif {
  font-family: 'coluna', Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
  font-size: 500%;
  line-height: 100%;
}
.serif {
  font-family: 'eames', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  font-style: oblique;
  font-size: 150%;
  line-height: 200%;
  margin-top: -16px;
}
p.serif::before {
  content: "\2014\20\20";
}
p.serif::after {
  content: "\20\20\2014";
}

.field--name-field-hero {
  display: flex;
  flex-wrap: wrap;
  background-color: #0A3E77;
  color: #FFF;

  > .field--item {
    width: 100%;
  }

  .hero-wrapper {
    margin-bottom: 30px;
  }

  .field--name-field-hero-image {
    background-size: cover;
    background-position: center;
    height: 393px;

    @media(min-width:$screen-sm-min) {
      height: 593px;
    }
  }

  .field--name-field-hero-title {
    margin-top: 0;
    margin-bottom: 13px;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
  }

  .field--name-field-hero-body {
    p {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .field--name-field-hero-links {
    margin-top: 30px;

    @media(min-width:$screen-sm-min) {
      display: flex;
      flex-wrap: wrap;
      margin-left: 108px;
      margin-top: 0;
    }

    > .field--item {
      ~ .field--item {
        margin-top: 17px;
      }

      a {
        color: #FFF;
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
      }
    }
  }

  &.field--items--1 {

    .hero-wrapper {
      @extend .container;
      margin: 32px auto 39px;

      @media(min-width:$screen-sm-min) {
        display: flex;
        flex-wrap: nowrap;

        .hero-titlebody {
          min-width: 60%;
          padding-right: 108px;
          border-right: 1px solid #FFF;
        }
      }

      @media(min-width:$screen-md-min) {
        min-width: 748px;
      }
    }

    @media(min-width:$screen-sm-min) {
      .field--name-field-hero-links {
        display: block;
      }
    }
  }

  &.field--items--2,
  &.field--items--4 {
    background-color: #FFF;
    color: #000;

    > .field--item {
      @media(min-width:$screen-sm-min) {
        width: 50%;
      }
    }

    .field--name-field-hero-image {
      height: 300px;
    }

    .field--name-field-hero-title,
    .field--name-field-hero-body {
      margin-left: 30px;
      margin-right: 30px;

      @media(min-width:$screen-sm-min) {
        margin-left: 73px;
        margin-right: 73px;
      }
    }

    .field--name-field-hero-title {
      margin-top: 28px;
    }

    .field--name-field-hero-body {
      margin-bottom: 13px;
    }

    .field--name-field-hero-links {
      margin: 0 30px 28px;

      @media(min-width:$screen-sm-min) {
        margin-left: 73px;
        margin-right: 73px;
      }

      > .field--item {
        max-width: 283px;
        margin-right: 27px;
        margin-top: 0;

        a {
          color: #1A65BD;
        }
      }
    }
  }

  &.field--items--2 {

    @media(min-width:$screen-sm-min) {
      > .field--item:first-child {
        border-right: 1px solid #FFF;
      }

      > .field--item:last-child {
        border-left: 1px solid #FFF;
      }
    }

    .field--name-field-hero-image {
      @media(min-width:$screen-sm-min) {
        height: 300px;
      }
      @media(min-width:$screen-md-min) {
        height: 300px;
      }
      @media(min-width:$screen-lg-min) {
        height: 400px;
      }
      @media(min-width:$screen-xl-min) {
        height: 500px;
      }
    }
  }

  &.field--items--4 {
    flex-wrap: wrap;

    > .field--item {
      display: flex;
    }

    @media(max-width:$screen-sm-max) {
      .field--item:nth-child(even) .paragraph--type--hero-item {
        flex-direction: row;
      }
    }

    @media(min-width:$screen-md-min) {
      .field--item:nth-child(n+3) .paragraph--type--hero-item {
        flex-direction: row;
      }
    }

    .paragraph--type--hero-item {
      width: 100%;

      @media(min-width:$screen-sm-min) {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
      }

      .field--name-field-hero-image {
        @media(min-width:$screen-sm-min) {
          height: auto;
          min-height: 498px;
          width: 50%;
        }
      }

      .hero-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media(min-width:$screen-sm-min) {
          width: 50%;
        }

        .field--name-field-hero-links {
          > .field--item {
            width: 100%;
            max-width: none;
            margin-right: 0;

            ~ .field--item {
              @media(min-width:$screen-sm-min) {
                margin-top: 17px;
              }
            }
          }
        }
      }
    }
  }
}

.field--name-field-cards {
  background: #EDEDED;
  padding: 44px 20px 8px;

  @media(min-width:$screen-md-min) {
    padding: 40px 115px 0;
  }

  .field--name-field-section-title {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #14598A;
    position: relative;
    margin-bottom: 36px;
    padding-bottom: 16px;

    &:after {
      content: '';
      border-bottom: 2px solid #196592;
      width: 122px;
      /* height: 2px; */
      position: absolute;
      left: calc(50% - 61px);
      bottom: 0;
    }
  }

  .field--name-field-section-body {
    margin: 0 auto 26px;
    width: 79%;

    @media(min-width:$screen-sm-min) {
      margin-bottom: 50px;
    }

    p {
      font-size: 20px;
      line-height: 23px;
    }
  }

  .field--name-field-card {
    display: flex;
    flex-wrap: wrap;

    > .field--item {
      background-color: #FFF;
      box-shadow: 0px 3px 6px #0000008B;
      margin-bottom: 54px;
      width: 100%;

      @media(min-width:$screen-md-min) {
        &.regular {
          width: 48%;

          ~ .regular {
            margin-left: 4%;
          }
        }
      }
    }

    .paragraph--type--card {
      padding-bottom: 40px;

      @media(min-width:$screen-md-min) {
        padding-bottom: 60px;
      }

      .field--name-field-card-image {
        background-size: cover;
        background-position: center;
        height: 225px;

        @media(min-width:$screen-md-min) {
          height: 325px;
        }
      }

      .card-middle {
        display: flex;
        margin: 40px 30px;

        @media(min-width:$screen-md-min) {
          margin: 77px 47px;
        }

        .left {
          margin: 13px 30px 0 0;

          .card-icon {
            width: 64px;

            @media(min-width:$screen-md-min) {
              width: 94px;
            }
          }
        }

        .right {
          .field--name-field-card-title {
            font-size: 24px;
            font-weight: bold;
            line-height: 28px;
            margin-bottom: 14px;
          }

          .field--name-field-card-body p {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }

      .field--name-field-card-button {
        text-align: center;

        a {
          background-color: #2D6DB7;
          border-radius: 50px;
          color: #EDFFFF;
          display: inline-block;
          font-size: 18px;
          line-height: 22px;
          min-width: 264px;
          padding: 18px 36px;

          &:hover {
            background-color: #0A3E77;
            text-decoration: none;
          }
        }
      }
    }

    @media(min-width:$screen-md-min) {
      .full-width .paragraph--type--card {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 0;

        .field--name-field-card-image {
          height: auto;
          width: calc(50% + 44px);
        }

        .card-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 60px 0;
          width: calc(50% - 44px);
        }
      }
    }
  }
}
