
.tripblock{
  //@extend .container;
  @extend .col-sm-6;
  @extend .col-md-4;

  form {
  //visibility: hidden;
  }

  @media(min-width:$screen-md-min){
    padding:16px;
  }
  #trip_planner_form{
    //@extend .col-sm-6;
    //@extend .col-md-4;
    background-color:#555555;
    color:#FFF;
    padding:16px;

    @media(min-width:$screen-md-min){
      margin:16px;
      margin-left:0;
    }

    h2{
      @include font-size(2.4);
      margin:0;
      color:#FFF;
    }

    legend{
      color:#FFF;
      @include font-size(1.6);
      border:none;
      margin:0;
      padding-top:5px;
      font-size:75%;
    }
    .fieldset-wrapper{
      .form-item{
        display:inline-block;
        padding:0 10px 10px 0;
        margin:0;
      }
    }
    .dates-trip{
      display:table;

      & > .form-item{
        display:table-cell;

        &:nth-child(1){
          padding-right:5px;
        }
        &:nth-child(2){
          padding-left:5px;
        }
      }
    }
    #edit-checkboxes{
      display:none;
    }
  }
  /*#trip_planner_buttons{
    a{
      @extend .col-xs-3;
      background-color:#555555;
      display:block;
      margin:12px;
      color:#FFF;
      text-align: center;
      @include font-size(1.1);
      text-transform: capitalize;

      &#edit-maps{
        background-image:url(../images/maps_icon.png);
      }
      &#edit-schedules{

      }
      &#edit-trackers{

      }
    }
  }*/
}
.trip-page{
  h2{
    color:#286eac;
    font-weight:700;
  }
  legend{
    margin-bottom:4px;
  }
  #edit-service,
  #edit-accessible{
    div{
      display:inline-block;
    }
  }
  .dates-trip{
    display:table;
    width:100%;
    padding:10px 0;

    &>div{
      display:table-cell;
      @extend .col-xs-6;
    }
  }
  #edit-checkboxes{
    border:none;
    box-shadow: none;

    .panel-heading{
      background:none;
      border:none;
      padding:0;

      .panel-title{
        @include font-size(2.1);
        border-bottom: 1px solid #e5e5e5;
        margin: 0;
        padding: 0;
        margin-top:10px;
      }
    }
    .panel-body{
      padding:0;

      &>div{
        @extend .col-sm-3;
        @extend .col-md-6;
        margin-top:0;
        padding:0;
      }
    }
  }
  button{
    background-color: #db7809;
    border-color: #c36b08;
  }
}
#trip_planner_buttons{
  @extend .row;
  a{
    @extend .col-xs-3;
    //background-color:#555555;
    background-color:#286eac;
    //display:block;
    margin:12px;
    color:#FFF;
    text-align: center;
    @include font-size(1.1);
    text-transform: capitalize;
    min-height:75px;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;


    &#edit-maps{
      background-image:url(../images/maps_icon.png);
    }
    &#edit-schedules{
      background-image:url(../images/schedules_icon.png);
    }
    &#edit-trackers{
      background-image:url(../images/trackers_icon.png);
      width: 28%;
      background-size: 24%;
      margin-left:60px;
    }
  }
}
.tripblock{
  #trip_planner_buttons{
    a{
      background-color:#555555;
      background-size:50%;
    }
  }
}

#ui-datepicker-div{
  padding:10px 15px;
  background-color:#FFF;
  color:#111;
  @include robotoRegular;
  @include font-size(1.2);
  display:none;

  .ui-datepicker-header{
    background:none;
    border:none;

    .ui-datepicker-title{
      float:right;
    }
  }
  .ui-datepicker-next,
  .ui-datepicker-prev{
    padding:0 5px;
  }
  .ui-datepicker-calendar{
    border:1px solid #286eac;

    thead{
      background-color:#dedede;

      th{
        padding:0 5px;

        span{
          color:#111;
        }
      }
    }
    tbody{
      td{
        a{
          background:none;
          border:none;
          padding:2px 8px;

          &.ui-state-active{
            background:#fffa90;
            color:#000;
          }
          &.ui-state-highlight{
            border:1px solid #000;
          }
        }
      }
    }
  }
}
  .tooltip-parent {
  position: relative;
  display: inline-block;
}

.tooltip-parent .tooltiptext {
  visibility: hidden;
  min-width: 350px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-family: calibri;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip-parent:hover .tooltiptext {
  visibility: visible;
  top:120%;
  left:0%;
}

.customParentBlock{

  @media(min-width:1200px){
      height: 450px;
    }

  @media(min-width:769px) and (max-width: 1199px){
      height: 400px;
    }

  @media(max-width:768px){
      height: 350px;
    }
}

.customInnerBlock{
  background-color: white;
  opacity: 0.9;
  padding: 20px;
  margin-top: 50px;
  h3 {
    color: black;
  }
  @media(min-width:1200px){
      height: auto;
      width: 400px;
      padding-top: 5px;
      margin: 50px auto;
    }

  @media(min-width:769px) and (max-width: 1199px){
      height: 300px;
      width: 400px;
    }

  @media(max-width:768px){
      height: auto;
      width: auto;
      margin-top: 7px;
      padding: 5px;
    }
}
.banner-media{
  .customInnerBlock{
    margin:50px;
  }
}
