// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/searchbar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
@import "component/typography";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  //margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.img-responsive{
  @media(max-width:$screen-sm-min){
    width:100%;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}
//front page margins
section.front-page{
  padding:0;
}
.main-container.container{
  .row{
    padding-bottom:20px;
  }
}

nav.tabs{
  max-width:$screen-lg;
  margin:0 auto;
}

//front page highlight block - class hightlight-text-block
.highlight-text-block{
  padding:20px 0;
  p{
    width:100%;
    text-align: center;
    display: inline-block;
    padding: 0 10px;

    img{
      text-align:center;
    }
  }

  @media(min-width:$screen-md-min){
    //padding:20px 0;

    p{
      width:auto;
      max-width: 90%;
      text-align: left;
      vertical-align: middle;
    }
  }
}