{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

<div class="container-mp">
<div class="left-mp">
  {{ fields.title.content }}
  {{ fields.type.content|trim }}
</div>
<div class="right-mp">
  {{ fields.field_publish_date_.content }}
  {% if fields.field_agenda_notes.content|striptags|trim %}
    <a class="agenda-mp-container" title="Agenda" data-toggle="tooltip" data-placement="bottom" target="_blank" href="{{ fields.field_agenda_notes.content|striptags|trim }}"><div class="agenda-mp"></div><span>Agenda</span></a>
  {% endif %}

  {% if fields.field_meeting_video.content|striptags|trim %}
    <a class="video-mp-container" title="Watch" data-toggle="tooltip" data-placement="bottom" target="_blank" href="{{ fields.field_meeting_video.content|trim }}"><div class="video-mp"></div><span>Watch</span></a>
  {% endif %}

  {% if fields.field_meeting_minutes.content|striptags|trim %}
    <a class="min-mp-container" title="Minutes" data-toggle="tooltip" data-placement="bottom" target="_blank" href="{{ fields.field_meeting_minutes.content|trim }}"><div class="min-mp"></div><span>Minutes</span></a>
  {% endif %}

  {% if fields.field_meeting_slides.content|striptags|trim %}
    <a class="slide-mp-container" title="Slides" data-toggle="tooltip" data-placement="bottom" target="_blank" href="{{ fields.field_meeting_slides.content|trim }}"><div class="slide-mp"></div><span>Slides</span></a>
  {% endif %}
</div>
</div>
